@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');



h1{
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 65px;
    text-align: center;
    text-shadow: 4px 4px 4px #aaa;
}

h2{
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 20px;
    text-align: left;
}

h3{
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 18px;
    text-decoration: underline;
}

p{
    font-family: 'Inconsolata', monospace;
    text-decoration: none;
}

ul.a {
    list-style-type: square;
  }

#links-menu a:link,
#links-menu a:visited,
#links-menu a:hover {
text-decoration: none;
}

#links-menu {
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
    text-decoration: none;
}

main{
    font-family: 'Inconsolata', monospace;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}

footer{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}

